/*
########## ########## Order ########## ##########
*/

/* ----- 425px ----- */

@media screen and (min-width: 425px) {
    .carrousel {
        width: 400px;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (min-width: 425px) and (orientation: landscape) {
    body {
        background-image: url('../images/background.webp');
        background-size: 100%;
    }
    
    .nav-list {
        padding: 0;
    }
}


/* ----- 600px ----- */

@media screen and (min-width: 600px) {
    .carrousel {
        width: 500px;
        height: auto;
        overflow: hidden;
    }

    .pizzas-grid {
        max-width: 540px;
        grid-template: repeat(5, 1fr) / repeat(2, 1fr);

        &-square {
            width: auto;
            min-width: 250px;
            
            img {
                object-position: right;
            }
        }

        .calabresa {
            display: block;
            grid-area: 1 / 1 / 2 / 3;
        }
    
        .jamonymorrones {
            grid-area: 2 / 1 / 3 / 2;
        }
    
        .donnarosa {
            grid-area: 2 / 2 / 3 / 3;
        }
    
        .capresse {
            grid-area: 3 / 1 / 4 / 3;
    
            img {
                transform: rotate(180deg);
            }
        }
    
        .muzzarella {
            grid-area: 4 / 1 / 5 / 2;
    
            img {
                transform: rotate(180deg);
            }
        }
    
        .fugazzetarellena {
            grid-area: 4 / 2 / 5 / 3;
    
            img {
                transform: rotate(180deg);   
            }
        }
    
        .capresse-calabresa {
            display: block;
            grid-area: 5 / 1 / 6 / 3;
        }
    
        .napolitanarellena {
            grid-area: 6 / 1 / 7 / 2;
        }
        .capresse-calabresa-mediana {
            grid-area: 6 / 2 / 7 / 3;
    
            img {
                width: 250px;
                object-fit: contain;
                object-position: center;
                position: relative;
                left: 0%;
            }
        }
    }

    .faqs {
        padding: $columns-padding-tablet;
    }
}

/* ----- 1024px ----- */

@media screen and (min-width: 1024px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-small;
        
        &-logo {
            width: 134px;
        }

        .hamb-menu {
            display: none;
        }
    }
    
    .nav {
        width: auto;
        position: unset;

        &::before {
            display: none;
        }

        &-list {
            display: block;
            background-color: transparent;
            padding: 0;
        }

        &-list-item {
            margin-right: 75px;
            padding: 0;
            display: inline-block;

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }

        
    }

    .main-home {
        max-width: 1440px;
        margin: 0 auto;
    }

    .main-menu {
        @extend .main-home;
    }

    .main-order {
        @extend .main-home;
    }
    
    .hero {
        position: relative;
        margin-bottom: $spacing-medium;

        .main {
            &-title {
                font-weight: 300;
                margin-bottom: $spacing-x-small;
                font-size: $font-size-titles;
                text-align: left;
            }
    
            &-slogan {
                width: 480px;
                margin-bottom: $spacing-x-small;
                font-size: $font-size-hero;
                text-align: left;
            }
    
            &-info {
                margin-bottom: $spacing-x-small;
                font-weight: 300;
                font-size: $font-size-secondary-titles;
                text-align: left
            }
        }
    
        .hero-btns {
            text-align: left;
        }

        .pizza-hero {
            display: block;
            transform: rotate(180deg);
            top: -25px;
            right: -280px;
            position: absolute;
        }
    }


    .large-divider {
        display: block;
        margin: 0 auto;
        margin-bottom: $spacing-x-small;
    }

    .small-divider {
        display: none;
        text-align: center;
    }
    
    .pizzas-grid {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 250px);
        justify-items: initial;
        width: 100%;
        max-width: 100%;
        gap: 20px;
        margin-top: $spacing-x-small;

        &-square {
            height: 250px;
            border: 2px solid rgba(219, 219, 219, 0.1);
            box-shadow: 0px 0px 20px 3px #000000;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .calabresa {
            grid-area: 1 / 1 / 2 / 3;
            display: block;
        }
    
        .jamonymorrones {
            grid-area: 1 / 3 / 2 / 4;
    
            img {
                transform: rotate(180deg);
            }
        }
        
        .donnarosa {
            grid-area: 2 / 1 / 3 / 2;
        }
    
        .capresse {
            grid-area: 2 / 2 / 3 / 4;
        }
        
        .fugazzetarellena {
            grid-area: 3 / 1 / 4 / 2;
        }
        
        .muzzarella {
            grid-area: 3 / 2 / 4 / 3;
        }
        
        .napolitanarellena {
            grid-area: 3 / 3 / 4 / 4;
    
            img {
                transform: rotate(180deg);
            }
        }
    
        .capresse-calabresa {
            display: block;
            grid-area: 4 / 1 / 5 / 3;
        }
        
        .capresse-calabresa-mediana {
            grid-area: 4 / 3 / 5 / 4;
    
            img {
                width: 350px;
                object-fit: contain;
                position: relative;
                left: -21%;
            }
        }
    }

    
    .fainas-articles, .empanadas-articles {
        @include grid-articles;
    }

    .fainas, .pizzas, .empanadas {
        margin-bottom: $spacing-large;
    }

    .product {
        &-title {
            font-family: 'Lobster', cursive;
            font-size: $font-size-hero;
            margin-bottom: $spacing-x-small;
            text-align: center;
        }

        &-description {
            font-size: $font-size-paragraph;
            line-height: 40px;
            text-align: center;
            color: $clr-paragraph-color;
        }

        &-card {
            display: inline-block;
            width: 280px;
        }
    }

    .comentarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 150px;
        margin-bottom: $spacing-large;
        background-color: $clr-main-color-transparent;

        &-title {
            width: 425px;
            margin: 0 auto;
            margin-bottom: $spacing-x-small;
            text-align: center;
            font-size: $font-size-hero;
            font-family: 'Lobster', cursive;
        }

        &-card {
            width: 600px;
            padding: 40px 50px;
            margin-bottom: $spacing-x-small;
            border-radius: 10px;
            background-color: $clr-white-color;

            &-message {
                font-size: $font-size-secondary-titles;
                font-weight: 300;
                line-height: 35px;
            }
        }

        .carrousel {
            width: 600px;
            height: auto;
            overflow: hidden;
        }
    }

    
    .faqs {
        padding: $columns-padding-desktop;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: $spacing-large;

        &-title {
            font-size: $font-size-titles-pages;
            margin-bottom: $spacing-x-small;
        }

        &-question-title h3 {
            font-size: $font-size-secondary-titles;
            font-weight: 600;
        }

        &-question p {
            color: $clr-paragraph-color;
            font-size: $font-size-paragraph;
            margin-left: 42px;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: $spacing-large;

        &-title {
            font-size: $font-size-titles-pages;
            margin-bottom: $spacing-x-small;
        }

        &-description {
            font-size: $font-size-paragraph;
            color: $clr-paragraph-color;
        }

        &-form label {
            text-align: left;
            font-size: $font-size-paragraph;
            color: $clr-white-color;
            margin-bottom: 10px;

            .newsletter label {
                font-size: $font-size-paragraph;
                color: $clr-paragraph-color;
            }
        }
    }

    .order {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing-medium;

        &-title {
            font-size: $font-size-titles-pages;
            margin-bottom: $spacing-x-small;
        }

        &-description {
            font-size: $font-size-paragraph;
            color: $clr-paragraph-color;
            text-align: center;
            line-height: 40px;
            max-width: 420px;
        }

        &-phones-number {
            display: flex;
            margin-bottom: $spacing-small;
        }

        &-menu {
            font-size: $font-size-paragraph;
            color: $clr-paragraph-color;
        }
    }


    .local {
        padding: $columns-padding-desktop;
        margin-bottom: $spacing-large;
        height: 400px;
        background-color: $clr-main-color-transparent;

        &-title {
            text-align: left;
            font-size: $font-size-titles;
            margin-bottom: $spacing-x-small;
        }

        &-description {
            text-align: left;
            font-size: $font-size-paragraph;
            color: $clr-paragraph-color;
            line-height: 40px;
        }

        &-map {
            width: 520px;
            height: 300px;
            max-width: 520px;
        }
    }
}


/* ----- 1200px ----- */

@media screen and (min-width: 1200px) {
    .header {
        flex-direction: row;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: $spacing-large;
    }

    .menu {
        &-head {
            display: flex;
        }

        &-title {
            font-size: $font-size-titles-pages;
            text-align: left;
        }

        &-category {
            display: flex;
            color: $clr-secondary-color;
            font-size: $font-size-titles;
            text-align: left;
            margin-bottom: 10px;
        }

        &-row {
            display: flex;
            text-align: center;
            justify-content: space-between;
        }

        &-description {
            display: table-cell;
            text-align: left;

            h4, p {
                text-align: left;
            }
        }

        .prices {
            justify-content: space-between;
        }
    
        .prices-emp {
            justify-content: left;
        }
    
        &-size {
            display: table-cell;
            color: $clr-secondary-color;
            font-size: $font-size-secondary-titles;
            font-weight: 400;
            padding: 10px;
            text-align: center;
        }
    }

    .hero {
        .pizza-hero {
            right: -150px;
        }
    }


    .pizzas-grid-square {
        height: 250px;

        img {
            height: 100%;
            object-position: right;
        }
    }

    .faqs {
        &-title {
            text-align: left;
        }
    }

    .to-top-btn {
        width: 64px;
        height: 64px;
    }
}


/* ----- 1366px ----- */

@media screen and (min-width: 1366px) {
    .header {
        margin: 0 auto 50px;
        margin-bottom: 0;
    }

    .hero {
        margin-bottom: 100px;
        
        .pizza-hero {
            display: block;
            transform: rotate(180deg);
            top: -25px;
            position: absolute;
        }
    }


    .pizzas-grid {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 250px);
        gap: 20px;
        margin-top: $spacing-x-small;

        .calabresa {
            grid-area: 1 / 2 / 2 / 4;
        }
        
        .capresse {
            grid-area: 2 / 1 / 3 / 3;
        }
        
        .donnarosa {
            grid-area: 2 / 3 / 3 / 4;
    
            img {
                object-position: 100%;
            }
        }
        
        .fugazzetarellena {
            grid-area: 3 / 1 / 4 / 2;
    
            img {
                object-position: 100%;
            }
        }
        
        .jamonymorrones {
            grid-area: 1 / 1 / 2 / 2;
    
            img {
                object-position: 100%;
            }
        }
        
        .muzzarella {
            grid-area: 2 / 4 / 3 / 5;
    
            img {
                object-position: 100%;
            }
        }
        
        .napolitanarellena {
            grid-area: 3 / 4 / 4 / 5;
    
            img {
                object-position: 100%;
            }
        }
        
        .capresse-calabresa {
            grid-area: 3 / 2 / 4 / 4;
        }
        
        .capresse-calabresa-mediana {
            grid-area: 1 / 4 / 2 / 5;
    
            img {
                width: 350px;
                object-fit: contain;
                position: relative;
                left: -21%;
            }
        }
    }

    .fainas, .empanadas {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        .pizza-hero {
            right: -65px;
        }
    }
}

@media screen and (min-width: 2560px) {
    .main-faqs {
        min-height: calc(100vh - 435px);
    }

    .main-contact {
        min-height: calc(100vh - 405px);
    }

    .main-order {
            height: calc(100vh - 405px)
    }
}