/*
########## ########## Contacto ########## ##########
*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: $spacing-medium;

    &-title {
        font-size: $font-size-titles;
        margin-bottom: $spacing-x-small;
    }

    &-description {
        max-width: 500px;
        font-size: $font-size-nav;
        line-height: 30px;
        color: $clr-paragraph-color;
    }

    &-form {
        max-width: 500px;
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            font-size: $font-size-nav;
            color: $clr-white-color;
            margin-bottom: 10px;
        }

        &-input {
            height: 40px;
            background: transparent;
            font-family: 'Montserrat', sans-serif;
            color: $clr-white-color;
            border: 2px solid $clr-white-color;
            border-radius: 5px;
            padding-left: 20px;
            margin-bottom: $spacing-x-small;
        }

        textarea {
            padding: 20px;
            background: transparent;
            border: 2px solid $clr-white-color;
            font-family: 'Montserrat', sans-serif;
            color: $clr-white-color;
            border-radius: 5px;
            resize: none;
        }

        .newsletter {
            display: flex;
            align-items: center;
            padding: 20px 25px 0;
            margin-bottom: $spacing-x-small;
        }

        .newsletter label {
            font-size: $font-size-nav;
            color: $clr-paragraph-color;
            line-height: 30px;  
        }

        input[type='checkbox'] {
            width: 30px;
        }
    }

    .web-btn {
        font-family: 'Montserrat', sans-serif;
        color: $clr-white-color;
        background-color: $clr-main-color;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
}