/*
########## ########## FAQs ########## ##########
*/


/* FAQs Container*/

.main-faqs {
    padding-bottom: $spacing-large;
}

.faqs {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: $spacing-large;
    
    &-title {
        text-align: center;
        font-size: $font-size-titles;
        margin-bottom: $spacing-x-small;
    }

    &-question-title h3 {
        font-size: $font-size-paragraph;
        font-weight: 600;
    }

    &-question p {
        color: $clr-paragraph-color;
        font-size: $font-size-nav;
        margin-left: 42px;
    }
}