/*
########## ########## Nav ########## ##########
*/

.footer {
    padding: $columns-padding-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 120px;
    background-color: $clr-black-darkest-color;
    
    .social-networks {
        display: flex;
        gap: 30px;
    }
    
    small {
        text-align: center;
        color: $clr-white-color;
        font-size: 1rem;
    }
}
