/*
########## ########## Global ########## ##########
*/

/* Global Styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Body Styles */

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Map Links */

$links: (
    regular: $clr-white-color,
    hover: $clr-secondary-color,
    );
    
    @each $link, $color in $links {
        .link-#{$link}-color {
            color: $color;
        }
    }

/* Links Styles */
    
a {
    @extend .link-regular-color;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        @extend .link-hover-color;
    }
}

.page-selected {
    @extend .link-hover-color;
    font-weight: 700;
}

/* Font Styles */

p, h1, h2, h3 {
    color: $clr-white-color;
}


/* Placeholder */

::placeholder {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: $clr-paragraph-color;
}

/* Dividers */

.large-divider {
    display: none;
    text-align: center;
    margin-bottom: $spacing-x-small;
}

.divider {
    text-align: center;
    margin-bottom: $spacing-x-small;
}