/*
########## ########## Header ########## ##########
*/

/* Header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    margin-bottom: 0;

    /* Header Logo*/
    &-logo {
        width: 110px;
    }
    
    /* Hamb Menu*/
    .hamb-menu {
        z-index: 10;
        transition: 400ms;
        cursor: pointer;
    }
    
    .hamb-btn {
        display: flex;
        flex-direction: column;
        gap: 8px;
    
        &-bar {
            width: 32px;
            height: 4px;
            background-color: $clr-white-color;
        }
    }
    
    /* Cross Menu */
    .cross-menu {
        display: none;
        width: 32px;
    }
    
    /* Hamb Menu Animation*/
    #check-btn {
        display: none;
    
        &:checked ~ {
            .nav {
                top: 0;
            }

            .hamb-menu {
                position: fixed;
                top: 0;
                right: 0;
                margin: 20px;
            }

            .hamb-menu .btn-menu {
                display: none;
            }
          
            .hamb-menu .cross-menu {
                display: block;
            }
        }
    }
}


