/*
########## ########## Menú ########## ##########
*/

/* Table Menú */

table {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: $spacing-x-small;
}

/* Box Sizes*/

.pizzas-sizes {
    font-size: $font-size-secondary-titles;
    margin-bottom: $spacing-x-small;
    text-align: center;

    b {
        color: $clr-secondary-color;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        object-fit: cover;
        margin-bottom: 10px;
    }

    h4 {
        font-size: $font-size-paragraph;
        font-weight: 300;
    }

    &-sizes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin-bottom: $spacing-small;

        &-title {
            text-align: center;
            margin-bottom: $spacing-x-small;
        }

        &-large {
            img {
                width: 290px;
            }
        }

        &-medium {
            img {
                width: 160px;
            }
        }

        &-small {
            img {
                width: 120px;
            } 
        }
    }
}



/* Menú Container */

.main-menu {
    padding-bottom: $spacing-large;
}

.menu {
    &-title {
        text-align: center;
        font-size: $font-size-titles;
        margin-bottom: $spacing-small;
    }

    &-category {
        display: block;
        color: $clr-secondary-color;
        font-size: $font-size-titles;
        text-align: center;
    }

    &-size {
        display: none;
    }

    h4 {
        color: $clr-white-color;
        font-size: $font-size-secondary-titles;
        margin-bottom: 5px; 
    }

    &-description p {
        color: $clr-paragraph-color;
        font-size: $font-size-paragraph;
        line-height: 30px;
        max-width: 600px;
    }

    &-price {
        color: $clr-white-color;
        font-size: $font-size-paragraph;
        text-align: center;
    }
}