/*
########## ########## Order ########## ##########
*/

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacing-medium;

    &-title {
        font-size: $font-size-titles;
        margin-bottom: $spacing-x-small;
    }

    &-description {
        max-width: 420px;
        margin-bottom: $spacing-x-small;
        font-size: $font-size-nav;
        color: $clr-paragraph-color;
        text-align: center;
        line-height: 30px;
    }

    &-phones-number {
        display: grid;
        grid-template: repeat(2, 1fr)/ 50px 1fr;
        align-items: center;
        margin-bottom: $spacing-x-small;
        gap: 25px;

        p {
            font-size: $font-size-titles;
            font-weight: 600;
            letter-spacing: 3px;
        }

        img {
            grid-area: 1 / 1 / 3 / 3;
        }
    }

    &-menu {
        font-size: $font-size-paragraph;
        color: $clr-paragraph-color;
        text-align: center;
        line-height: 30px;

        a {
            color: $clr-secondary-color;
        }
    }
}

.main-number {
    grid-area: 1 / 2 / 2 / 3;
}

.secondary-numer {
    grid-area: 2 / 2 / 3 / 3;
}

.local {
    padding: $columns-padding-mobile;
    margin-bottom: $spacing-medium;
    background-color: $clr-main-color-transparent;
    padding-top: 50px;
    padding-bottom: 50px;

    &-title {
        font-size: $font-size-titles;
        margin-bottom: $spacing-x-small;
        text-align: center;
    }

    &-description {
        font-size: $font-size-nav;
        color: $clr-paragraph-color;
        line-height: 30px;
        text-align: center;
    }
}