/*
########## ########## Variables ########## ##########
*/

 /* Colors */

 $clr-white-color: #FAFAFA;
 $clr-paragraph-color: #BEB4AE;
 $clr-main-color: #651A31;
 $clr-main-color-hover: #491323;
 $clr-secondary-color: #F49C26;
 $clr-black-color: #151515;
 $clr-black-darkest-color: #000000;
 $clr-main-color-transparent: rgba(101, 26, 49, .3);

 
 /* Box Model Styles */

 $columns-padding-desktop: 0 150px;
 $columns-padding-tablet: 0 75px;
 $columns-padding-mobile: 0 30px;

 $spacing-x-small: 25px;
 $spacing-small: $spacing-x-small * 2;
 $spacing-medium: $spacing-x-small * 3;
 $spacing-large: $spacing-x-small * 4;


 /* Typography */

 $font-size-hero: 6rem;
 $font-size-titles-pages: 4rem;
 $font-size-titles: 3rem;
 $font-size-secondary-titles: 2rem;
 $font-size-paragraph: 1.8rem;
 $font-size-nav: 1.6rem;

 
