/*
########## ########## Main SCSS ########## ##########
*/

@import "../bootstrap-5.1.3/scss/bootstrap.scss";
@import "variables";
@import "global";
@import "mixins";
@import "header";
@import "nav";
@import "home";
@import "comentarios";
@import "footer";
@import "menu";
@import "faqs";
@import "contacto";
@import "order";
@import "breakpoints";

